.name {
    color: #8A2BE2;
    font-weight: bold;
}

.html {
    color: #F16524;
    font-weight: bold;
}

.css {
    color: #66309A;
    font-weight: bold;
}

.js {
    color: #F7E018;
    font-weight: bold;
}

.php {
    color: #787CB5;
    font-weight: bold;
}

.sql {
    color: #4479A1;
    font-weight: bold;
}

.pma {
    background: linear-gradient(to right, #6C79B1, #F69C06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.py {
    background: linear-gradient(to right, #357FB9, #FFC42D);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.bootstrap {
    color: #7608F6;
    font-weight: bold;
}

.git {
    color: #F15030;
    font-weight: bold;
}
.github {
    background: linear-gradient(in oklch, #892793, #492779);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.windows {
    color: #0079D5;
    font-weight: bold;
}

.linux {
    color: #FCC624;
    font-weight: bold;
}

.laravel {
    color: #FF291A;
    font-weight: bold;
}

.sqlite {
    color: #003856;
    font-weight: bold;
}

.rs {
    background: linear-gradient(in oklch, #F49701, #CD3802);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.node {
    color: #68A063;
    font-weight: bold;
}

.npm {
    background: linear-gradient(to right, #cc3534, #fff, #cc3534);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.express {
    color: #fff;
    font-weight: bold;
}