.navbar {
    background-color: var(--background-color) !important;
    border-bottom: solid var(--secondary-color) 5px;
    border-left: solid var(--secondary-color) 5px;
    border-right: solid var(--secondary-color) 5px;
    border-radius: 0 0 1rem 1rem;
    box-shadow: var(--primary-color) 0.4rem 0.4rem 0.7rem;
}

.navbar .navbar-brand {
    color: var(--primary-color) !important;
    font-family: SFDigitalReadout, sans-serif;
    font-size: 2rem;
    margin-left: 0.5rem;
    transition: all 0.5s ease;
}

.navbar .navbar-brand:hover {
    color: var(--secondary-color) !important;
    text-shadow: var(--dark-gray) 0.2rem 0.2rem 0.5rem;
    transform: translateY(-0.1rem);
    transition: all 0.5s ease;
}

.navbar .nav-link {
    color: var(--primary-color) !important;
    font-family: SFDigitalReadout, sans-serif;
    font-size: 2rem;
    background-color: var(--secondary-color);
    margin: 0 0.3rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border-radius: 0.3rem;
    border: solid var(--primary-color) 5px;
    transition: all 0.5s ease;
}

.navbar .nav-link:hover {
    background-color: var(--primary-color);
    color: var(--dark-gray) !important;
    border: solid var(--secondary-color) 5px;
    box-shadow: var(--dark-gray) 0.2rem 0.2rem 0.5rem;
    transform: translateY(-0.1rem);
    transition: all 0.5s ease;
}

.nav-link.active {
    background-color: var(--primary-color);
    color: var(--dark-gray) !important;
    border: solid var(--secondary-color) 5px;
    box-shadow: var(--dark-gray) 0.2rem 0.2rem 0.5rem;
    transform: translateY(-0.1rem);
}

.dropdown-menu {
    background-color: transparent;
    font-family: SFDigitalReadout, sans-serif;
    font-size: 1.5rem;
    border: none;
}
.dropdown-item {
    transition: all 0.5s ease;
    color: var(--secondary-color) !important;
    background-color: var(--primary-color);
    border: solid var(--secondary-color) 3px;
    border-radius: 0.3rem;
    margin: 0.2rem 0.5rem;
    box-shadow: var(--dark-gray) 0.2rem 0.2rem 0.5rem;
    transition: all 0.5s ease;
}
.dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
    border: solid var(--primary-color) 3px;
    transform: translateY(-0.1rem);
    transition: all 0.5s ease;
}

.dropdown-item.active {
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
    border: solid var(--primary-color) 3px;
    transform: translateY(-0.1rem);
}

@media screen and (max-width: 768px) {
    .navbar .navbar-brand {
        font-size: 0.8rem;
        margin-left: 0.2rem;
        white-space: normal;
        line-height: 1.2;
    }
    
    .navbar .nav-link {
        font-size: 1.5rem;
        margin: 0.2rem 0.3rem;
        text-align: center;
    }

    .custom-toggler {
        margin-right: 0.2rem !important;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 181, 77)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
        border-color: var(--primary-color);
    }
}