.card {
    width: 18rem;
    background-color: var(--secondary-color);
    border: solid var(--primary-color) 5px;
    transition: all 0.3s ease-in-out;
    
}
.card:hover {
    box-shadow: 0 0 10px var(--primary-color);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.card-img-top {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-bottom: solid var(--primary-color) 5px;
    border-radius: 0;
}

h5 {
    font-family: SFDigitalReadout;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color) !important;
}

.card-text {
    font-family: raster;
    font-size: 1em !important;
    line-height: 1.5;
    color: var(--primary-color) !important;
    margin: 0.5rem 0 !important;
}

.badge-tag {
    font-family: raster;
    font-size: 0.8em !important;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0.1rem 0.1rem 0.2rem 0 !important;
}

.btn {
    font-family: SFDigitalReadout;
    font-size: 1.1em !important;
    margin: 0.25rem 0.2rem 0 0 !important;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid var(--primary-color) 3px;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid var(--secondary-color) 3px;
    transform: translateY(-0.1em);
    transition: all 0.3s ease-in-out;
}