@font-face {
    font-family: 'Segoe MDL2';
    src: url('../font/segmdl2.ttf');
}

.minimize, .cancel {
    font-family: 'Segoe MDL2';
    font-weight: bolder;
}


pre{
    margin: 0;
    padding: 0;
    white-space: normal;
    margin-bottom: 1em;
}

.codeHeader{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    background-color: #373737;
    padding: 1em;
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: #373737 10px 10px 10px; 
}

.minimize{
    font-size: 0.5em;
    display: inline-block;
    cursor: pointer;
    background-color: #00ff00;
    padding: 0.5em;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin-right: 0.5em;
}

.cancel{
    font-size: 0.5em;
    display: inline-block;
    cursor: pointer;
    background-color: #ff0000;
    padding: 0.5em;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin-right: 0.5em;
}

code {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    white-space: pre;
    display: block;
    margin-bottom: 1em;
    box-shadow: #031a16 10px 10px 10px;
}