:root{
    /* color's */
    --main-color: #68b54d;
    --secondary-color: #29733f;
    --bg-color: #000000bf;
    /* box-shadow */
    --box-b-s: 0.4em 0.4em 0.7em;
}

@font-face {
    font-family: SFDigitalReadout;
    src: url(../font/SFDigitalReadout-Heavy.otf);
}
@font-face {
    font-family: raster;
    src: url(../font/raster.ttf);
}

body {
    background-color: #060606;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-position-y:20%;
    background-repeat: no-repeat;
    color: var(--main-color);
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "nav title ." "nav main .";
    grid-gap: 1rem;
    height: 95vh;
    margin-top: 3vh;
}

main::-webkit-scrollbar {
    display: none;
}

#title {
    grid-area: title;
    background-color: var(--bg-color);
    border: solid var(--secondary-color) 5px;
    border-radius: 10px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: var(--main-color) var(--box-b-s);
}

.header{
    box-shadow: 0 8px 1em -10px var(--main-color);;
}

.nav {
    grid-area: nav;
    background-color: var(--bg-color);
    border: solid var(--secondary-color) 5px;
    border-radius: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: var(--main-color) var(--box-b-s);
}
.nav::-webkit-scrollbar {
    display: none;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    margin-top: 1em;
    padding: 1em;
    border: solid var(--secondary-color) 5px;
    border-radius: 1em;
    background-color: var(--main-color);
    width:75%;
    text-align: center;
    transition: ease-in-out 1s;
}
.button:hover {
    background-color: var(--secondary-color);
    border: solid var(--main-color) 5px; 
}
#currentButton {
    background-color: var(--secondary-color);
    border: solid var(--main-color) 5px;
    color: var(--main-color);
    transform: scale(1.05);
}

a {
    color: var(--secondary-color);
    text-decoration: double underline;
    display: inline-block;
    transition: ease-in-out 1s;
}
a:hover {
    color: var(--main-color);
    transform: scale(1.05);
}

main {
    grid-area: main;    
    background-color: var(--bg-color);
    border: solid var(--secondary-color) 5px;
    border-radius: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: var(--main-color) var(--box-b-s);
}

main::-webkit-scrollbar {
    display: none;
}


h1, h2, h3, h4, h5, h6 {
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: var(--secondary-color);
    font-family: SFDigitalReadout;
    font-size: 3rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #00000080, var(--secondary-color), #00000080);
}

p, .content {
    padding: 1em;
    font-family: raster;
}

ul{
    padding: 0;
    margin: 0;
    padding-left: 3em;
    list-style: square;
}

.img img {
    float: right;
    margin: 0 15px 0 0;
    border-radius: 8px;
    border: var(--secondary-color) 5px solid;
    height: 300px;
}

@media only screen and (max-width: 640px) {
    .container {
        display: block;
    }
    main {
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .nav {
        width: 80vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-image:url(../img/mbg.jpg);
        background-size: 100%;
        background-position-y: 65%;
    }

    .img img {
        float: none;
        display: block;
        margin: 10px auto;
        height: 100px;
    }
}