@font-face {
    font-family: SFDigitalReadout;
    src: url(../font/SFDigitalReadout-Heavy.otf);
}
@font-face {
    font-family: raster;
    src: url(../font/raster.ttf);
}

body {
    background-color: #060606;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-position-y:20%;
    background-repeat: no-repeat;
    color: #68b54d;
}

.main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.750);
    border: solid #29733f 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: 95vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main::-webkit-scrollbar {
    display: none;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #29733f;
    font-family: SFDigitalReadout;
    font-size: 2em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #00000080, #29733f, #00000080);
}

p {
    margin-left: 15px;
    font-family: raster;
    font-size: large;
}

.img img {
    float: right;
    margin: 0 15px 0 0;
    border-radius: 8px;
    border: #29733f 5px solid;
    height: 300px;
}

@media only screen and (max-width: 640px) {
    body {
        background-image:url(../img/mbg.jpg);
        background-size: 100%;
        background-position-y: -25%;
    }

    .img img {
        float: none;
        display: block;
        margin: 10px auto;
        height: 100px;
    }
}
